 .input-account{
  padding: 8px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #ffffff;
}

.account-button {
  float: left;
  width: 20%;
  padding: 8px;
  background: #c0c0c0;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}